body {
    overflow: hidden;
    background-color: #EEEEEE;
}

md-whiteframe {
    background: #fff;
}

#content {
    padding: 5px;
    overflow: auto;
}

.error {
    color: rgb(221, 44, 0);
    font-size: 12px;
    text-size-adjust: 100%;
}
