<wrapper title="Administración" to-excel="#tabla">

    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.crudSelected.length">
        <div class="md-toolbar-tools">
            <h2 class="md-title">Persona</h2>
            <div flex></div>
            <update-insert-modal api-url="vm.crudApiUrl" on-save="vm.getCrudData()" template="form-persona.html">
                <md-button class="md-fab md-primary md-mini">
                    <md-icon>insert_drive_file</md-icon>
                </md-button>
            </update-insert-modal>
        </div>
    </md-toolbar>

    <div layout="column" flex>
        <!-- exact table from live demo -->
        <md-table-container>
            <table md-table>
                <thead md-head md-order="vm.crudOrder" md-on-reorder="vm.getCrudData">
                <tr md-row>
                    <th md-column>Código</th>
                    <th md-column>Apellido Paterno</th>
                    <th md-column>Apellido Materno</th>
                    <th md-column>Nombres</th>
                    <th md-column>Email</th>
                    <th md-column>Dispositivo</th>
                    <th md-column>Opciones</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="data in vm.crudData">
                    <td md-cell>{{ data.codigo }}</td>
                    <td md-cell>{{ data.paterno }}</td>
                    <td md-cell>{{ data.materno }}</td>
                    <td md-cell>{{ data.nombres }}</td>
                    <td md-cell>{{ data.email }}</td>
                    <td md-cell>{{ data.dispositivo_name }}</td>
                    <td md-cell width="110">
                        <update-insert-modal row-data="data" api-url="data.url" on-save="vm.getCrudData()"
                                             template="form-persona.html">
                            <md-button class="md-icon-button md-primary">
                                <md-icon>edit</md-icon>
                            </md-button>
                        </update-insert-modal>
                        <remove api-url="data.url" on-remove="vm.getCrudData()"></remove>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="vm.crudLimit"
                             md-limit-options="[5, 10, 15]"
                             md-page="vm.crudPage"
                             md-total="{{ vm.crudTotal }}"
                             md-on-paginate="vm.getCrudData"
                             md-page-select>
        </md-table-pagination>
    </div>
</wrapper>

<script type="text/ng-template" id="form-persona.html">
    <div layout="row">
        <md-input-container flex="20">
            <label>Codigo</label>
            <input type="number" ng-model="vm.field.codigo"/>
            <field-error error-data="vm.error.codigo"></field-error>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="30">
            <label>Paterno</label>
            <input type="text" ng-model="vm.field.paterno"/>
            <field-error error-data="vm.error.paterno"></field-error>
        </md-input-container>
        <md-input-container flex="30">
            <label>Materno</label>
            <input type="text" ng-model="vm.field.materno"/>
            <field-error error-data="vm.error.materno"></field-error>
        </md-input-container>
        <md-input-container flex="40">
            <label>Nombres</label>
            <input type="text" ng-model="vm.field.nombres"/>
            <field-error error-data="vm.error.nombres"></field-error>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex="50">
            <label>Email</label>
            <input type="email" ng-model="vm.field.email"/>
            <field-error error-data="vm.error.email"></field-error>
        </md-input-container>
        <md-input-container flex="50">
            <label>Dispositivo</label>
            <field-select api-url="'/api/dispositivo/'" model="vm.field.dispositivo" field="nombre"></field-select>
            <field-error error-data="vm.error.dispositivo"></field-error>
        </md-input-container>
    </div>
</script>